table {
    border-collapse: collapse;
    margin: 15px 0;
}

td, th {
    /*border: 1px solid black;*/
    padding: 5px 10px;
}

#header {
    text-align: center;
}

.container {

    border-radius: 7px;
    /*background-color: #fff5d3;  */

}

p, h1 {
    background-color: #eedac5;
}

#coffeeName {
    font-size: 25px;
    font-weight: bold;
}

#coffeeRoast {
    color: gray;
}

body {
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}