table {
    border-collapse: collapse;
    margin: 15px 0;
}

td, th {
    /*border: 1px solid black;*/
    padding: 5px 10px;
}

#header {
    text-align: center;
}

.container {
    background-color: #fbf1d0;
    border-radius: 7px;
}

#coffeeName {
    font-size: 25px;
    font-weight: bold;
}

#coffeeRoast {
    color: gray;
}